@page "/WhsOrders/Out/Item/{id}"

@using PickItEasy.Application.Common;
@using PickItEasy.Application.Dtos;

<input type="hidden" id="barcode" value="@barcode" @onchange="@ScannedBarcodeAsync" />

<div class="row d-flex justify-content-between">
    <div class="col-2"><h3>@whsOrderOutVm?.QueueNumber</h3></div>
    <div class="col-8"><h4>@whsOrderOutVm?.Name</h4></div>
    <div class="col-2 d-flex justify-content-end">
        @*<img src=@($"data:image/jpeg;base64,{whsOrderOutVm?.BarcodeBase64}") width="256" height="96" alt="штрих код" />*@
        @if (whsOrderOutVm != null)
        {
            <img src=@($"data:image/jpeg;base64,{BarcodeGuidConvert.GetBarcodeBase64(whsOrderOutVm.Id)}") width="256" height="96" alt="штрих код" />
        }
    </div>
</div>
<div>@pageMessage</div>

<div><button class="btn btn-primary" @onclick="@PostWhsOrderOut">PostWhsOrderOut</button></div>

<div>@whsOrderOutVm?.Number</div>
<div>@whsOrderOutVm?.DateTime</div>
<div>Склад: @whsOrderOutVm?.Warehouse?.Name</div>
<div>Статус: @whsOrderOutVm?.Status?.Synonym</div>
<div>Очередь: @whsOrderOutVm?.Queue?.Synonym</div>
<div>Дата отгрузки: @whsOrderOutVm?.ShipDateTime</div>
<div>@whsOrderOutVm?.Comment</div>
<div>
    <QuickGrid Items="@(whsOrderOutVm?.Products?.AsQueryable<WhsOrderOutProductVm>())" Class="table table-bordered table-hover">
        <PropertyColumn Property="@(p => p.Name)" Title="Товар" Sortable="true"></PropertyColumn>
        <PropertyColumn Property="@(p => p.Count)" Title="Кол-во" Sortable="true"></PropertyColumn>
    </QuickGrid>
</div>
