@page "/WhsOrders/Out/Item/{id}"

@using PickItEasy.Application.Common;
@using PickItEasy.Application.Models.WhsOrder.Out.Vm;

<input type="hidden" id="barcode" value="@barcode" @onchange="@ScannedBarcodeAsync" />

<div class="row d-flex justify-content-between">
    <div class="col-2"><h3>@orderOutVm?.QueueNumber</h3></div>
    <div class="col-8"><h4>@orderOutVm?.Name</h4></div>
    <div class="col-2 d-flex justify-content-end">
        @*<img src=@($"data:image/jpeg;base64,{whsOrderOutVm?.BarcodeBase64}") width="256" height="96" alt="штрих код" />*@
        @if (orderOutVm != null)
        {
            <img src=@($"data:image/jpeg;base64,{BarcodeGuidConvert.GetBarcodeBase64(orderOutVm.Id)}") width="256" height="96" alt="штрих код" />
        }
    </div>
</div>
<div>@pageMessage</div>

<div><button class="btn btn-primary" @onclick="@PostWhsOrderOut">PostWhsOrderOut</button></div>

<div>Номер:@orderOutVm?.Number</div>
<div>Дата: @orderOutVm?.DateTime</div>
<div>Склад: @orderOutVm?.Warehouse?.Name</div>
<div>Статус: @orderOutVm?.Status?.Synonym</div>
<div>Очередь: @orderOutVm?.Queue?.Synonym</div>
<div>Дата отгрузки: @orderOutVm?.ShipDateTime</div>
<div>Комментарий: @orderOutVm?.Comment</div>
<div>
    Документы основания:
    @if (orderOutVm != null &&  orderOutVm?.BaseDocuments != null)
    {
        @foreach (var item in orderOutVm.BaseDocuments)
        {
            <div>@item.Name</div>
        }
    }    
</div>
<div>
    <QuickGrid Items="@(orderOutVm?.Products?.AsQueryable<WhsOrderOutProductVm>())" Class="table table-bordered table-hover">
        <PropertyColumn Property="@(p => p.Name)" Title="Товар" Sortable="true"></PropertyColumn>
        <PropertyColumn Property="@(p => p.Count)" Title="Кол-во" Sortable="true"></PropertyColumn>
    </QuickGrid>
</div>
