@page "/WhsOrders/Out/List"

@using PickItEasy.WebApp.BlazorServer.Pages.WhsOrders.Out.Components

@*<input type="hidden" id="barcode" value="@barcode" @onchange="@ScannedBarcodeHandle" />*@

<div class="row">
    <div class="col"><h4>Расходники</h4></div>
    <div class="col">@pageMessage</div>
</div>

<SearchForm OnSubmit="SearchHandle"></SearchForm>

<SearchByStatusTabs Statuses="@statusListVm.Statuses" CountByStatus="@orderListVm.CountByStatus" OnClick="SearchHandle"></SearchByStatusTabs>

@if (orderListVm.Orders is not null && orderListVm.Orders.Any())
{
    <CardsByQueue Queues="@queueListVm.Queues" Orders="@orderListVm.Orders"></CardsByQueue>
}
