@page "/WhsOrders/Out/List"

@using PickItEasy.WebApp.BlazorServer.Pages.WhsOrders.Out.Components

<input type="hidden" id="barcode" value="@barcode" @onchange="@ScannedBarcodeHandle" />

<div class="row">
    <div class="col"><h4>Расходники</h4></div>
    <div class="col">@pageMessage</div>
</div>

<SearchForm OnSubmit="SearchHandle"></SearchForm>

<NavTabs Statuses="@statusListVm.Statuses" OnClick="NavigationOnClickHandle"></NavTabs>

@if (orderDictionaryVm.Orders is not null && orderDictionaryVm.Orders.Any())
{
    <CardsByQueue Queues="@queueListVm.Queues" Orders="@orderDictionaryVm.Orders"></CardsByQueue>
}
